body {
  background-color: white;
  width: 100%;
  height: auto;
}

.instagram-module-container {
  width: 75%;
  height: auto;
  margin: auto;
}

.module-container {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

.in-photo {
  border-radius: 25px;
}
