body {
  background-color: rgb(164, 163, 255);
  width: 100%;
  height: auto;
}

.instagram-module-container {
  width: 75%;
  height: 500px;
  margin: auto;
}

.module-container {
  width: 100%;
  height: 300px;
  border: 2px solid black;
}
